# Name of the workflow
name: Deploy to Web App

on: [push]

jobs:
  #deploy web app
  deploywebapp:
    
    # runs on linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.2
        with:
            node-version: 12.x
      - run: npm install
      - uses: Azure/webapps-deploy@v2
        with:
          # Name of the Azure Web App
          app-name: nzgithubnodejs
          # Applies to Web Apps(Windows and Linux) and Web App Containers(linux). Multi container scenario not supported. Publish profile (*.publishsettings) file contents with Web Deploy secrets
          publish-profile: ${{ secrets.PUBLISH_PROFILE  }}

